* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 10%;
}

header img {
    width: 15%;
}

header h1 {
    font-weight: 600;
    text-transform: uppercase;
}

/* HERO SECTION */

.hero img {
    width: 100%;
}

/* PORTFOLIO */

.project {
    text-align: center;
    width: 25%;
}

.projects {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.projects img {
    width: 100%;
}

.project-details {
    border-top: 1px solid black;
    border-bottom: 2px solid black;
    margin-bottom: 1rem;
}