* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem 2.5rem;
}

header img {
    width: 25%;
    max-width: 200px;
}

header h1 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

header p {
    font-size: 1.5rem;
    font-weight: 200;
    color: #3D3D3D;
}

/* HERO SECTION */

.hero {
    height: 45vh;
    background-image: url(./img/hero1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

/* PORTFOLIO */

.portfolio {
    padding: 2rem;
    text-align: center;
}

.portfolio h2 {
    font-size: 1.75rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.project {
    text-align: center;
    width: 25%;
}

.projects {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.projects img {
    width: 100%;
}

.project-details {
    border-top: 2px solid #0D4B6E;
    border-bottom: 4px solid #0D4B6E;
    margin-bottom: 1rem;
    
    padding: .25rem;
}

.project-details h3 {
    font-size: 1.5rem;
    font-weight: 200;
    text-transform: uppercase;
}

.project-details a {
    color: #BB1F25;
    font-family: "Baskervville", serif;
    font-size: 1.25rem;
    font-weight: 400;
    font-style: italic;
    text-decoration: none;
}

.project-details p {
    margin-top: -.4rem;
}

/* FOOTER */

footer {
    padding: 3rem;
    text-align: center;
    color: white;
    background: #3D3D3D;
}

footer a {
    color: white;
}

/* MEDIA QUERIES */

@media screen and (min-width: 480px) {
    header {
        padding: 2rem 10% 2.5rem;
    }
    
    header h1 {
        font-size: 1.75rem;
    }
    
    header p {
        font-size: 1.7rem;
    }
}